
outputs/ 
#not pushed due to large size

data/Media_Sorting_Table.xlsx
#includes sensitive data so not pushed to github

.Rproj.user
.Rhistory
vid_dat_final.RData
#includes sensitive data so not pushed to github

1-explore_video_table_sensitive.R  
#reads sensitive data so not pushed to github