old/
outputs/ 
#not pushed due to large size

data/Media_Sorting_Table.xlsx
#xlsx file includes sensitive data so not pushed to github

.Rproj.user
.Rhistory
*.RData
#rdata files includes sensitive data so not pushed to github

1-explore_video_table_sensitive.R  
#this script reads sensitive data so not pushed to github